<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    @font-face {
    font-family: 'GuestBookCursive';
    src: url('{% static "guestbookapp/GreatVibes-Regular.ttf" %}') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    h1 {
        font-family: "GuestBookCursive";
        font-size: 600%;
    }
</style>
<body style="background-image: url('{% static 'guestbookapp/bookcover.jpg' %}')">
    <div class="container-fluid">
        <div class="col-md-12 text-center text-white">
            <h1>Login page</h1>
            {% if message %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endif %}
            <div class="form-group">
                <form action="{% url 'loginview' %}" method="POST">
                    {% csrf_token %}
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control text-center">
                    <label for="pwd">Password</label>
                    <input type="password" name="pwd" class="form-control text-center">
                    <button class="btn btn-dark btn-lg" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>